DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=some_password
DB_NAME=wallet_development
DB_PORT=5432
MAX_RECORDS_PER_PAGE=5
SECRET_KEY_BASE=your_key
POSTMARK_API_TOKEN=postmark_api_token
DEFAULT_MAIL_ADDRESS=no-reply@walletapi.xyz
BANK_SIMULATOR_URI=http://localhost:8080
BANK_SIMULATOR_USERNAME=walletapi
BANK_SIMULATOR_PASSWORD=Testing@123!