DB_HOST="db_hostname"
DB_USERNAME="username"
DB_PASSWORD="password"
DB_NAME="database_name"
DB_NAME_TEST="test_database_name"
DB_PORT=5432
MAX_RECORDS_PER_PAGE=3
SECRET_KEY_BASE="a_32_bit_hex_key"
POSTMARK_API_TOKEN="api_token_for_postmark"
DEFAULT_MAIL_ADDRESS="someone@example.com"
BANK_SIMULATOR_URI="http://localhost:8080"
BANK_SIMULATOR_USERNAME="walletapi"
BANK_SIMULATOR_PASSWORD="Testing@123!"
